<footer>
    <h2>Contact me</h2>
    <section>
        <div class="contact flex-item"> 
            <h5>E-mail:</h5>
            <span>caleb.e.fant@gmail.com</span>
        </div>
        <div class="social-links flex-item">
            <a href="https://www.facebook.com/profile.php?id=61551100108854">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 1200 1200"><path fill="currentColor" d="M0 0v1200h1200V0H0zm863.232 156.592c8.715-.185 17.791.098 27.173.732c34.476.047 70.483 3.155 106.201 6.299l-3.882 142.09h-95.947c-44.988-.996-61.235 16.473-62.695 67.236V484.57h162.524l-6.445 152.197H834.082v423.706H675.513V636.768H565.43V484.57h110.083V353.906c0-94.209 39.829-154.174 118.286-184.57c20.149-7.928 43.288-12.189 69.433-12.744z"/></svg>
            </a>
            <a href="mailto:caleb.e.fant@gmail.com">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="currentColor" d="M1 3h22v18H1V3Zm2 2v1.83l9 4.55l9-4.55V5H3Zm18 4.07l-9 4.55l-9-4.55V19h18V9.07Z"/></svg>
            </a>
        </div>
    </section>
</footer>

<style>
    footer {
        text-align: center;
        background-color: var(--pine);
        padding: 20px 2% 40px;
    }

    h2 {
        margin-bottom: 20px;
    }

    h5 {
        font-size: 1.6rem;
        display: inline;
        margin-right: 10px;
    }

    span {
        font-size: 1.4rem;
    }

    section {
        max-width: 900px;
        margin-inline: auto;
        border: 2px solid #b9f2fd;
        padding: 70px;
        text-align: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex: 1;
        gap: 10px;
        border-radius: 140px;
    }

    .flex-item {
        flex: 1;
    }

    .social-links{
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    a {
    color: var(--sandy);
    }

</style>